﻿@using System.Runtime.InteropServices
@model CRM_ImapX.Models.ViewModels.MailPagedListViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<table class="table">

    <tr>
        <th>
            Od
        </th>

        <th>
            Data
        </th>

        <th>
            Do
        </th>

        <th>
            Cc
        </th>

        <th>
            Bcc
        </th>

        <th>
            Temat
        </th>

        @foreach (var item in Model.ResultList)
        {

        <tr onclick="location.href='@Url.Action("Show", "Mail", new { messageGuid = item.MessageGuid})'">


            <td>
                @Html.DisplayFor(modelItem => item.From)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.To)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bcc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @if (item.haveAttachments == true)
                {
                    <img src="@Url.Content("~/Inventory/icon-attachment-32x321.png")" alt="" />
                }
            </td>
           



        </tr>

    }



</table>
<br />
<p>Ilość rekordów: @Model.TotalRecords</p><br />

@for (int i = 0; i <= Model.TotalRecords / Model.PageSize; i++)
{
    <a href="?PageNumber=@i&PageSize=@Model.PageSize">@(i + 1)</a>
}
