﻿@model CRM_ImapX.Models.ViewModels.sendMailViewModel
@{
    ViewBag.Title = "sendMail";
}

<h2>Wyślij wiadomość.</h2>

@using (Html.BeginForm("sendMail", "MailSend", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="col-lg-8 col-lg-offset-2">
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.To, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.To, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Cc, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Cc, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Bcc, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Bcc, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
            </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(m => m.Content)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(m => m.Content, new { @class = "tinymce" })
            @Html.ValidationMessageFor(m => m.Content)
        </div>

    </div>
    <div class="col-lg-4 col-lg-offset-2">
        <h2>Załączniki</h2>

        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Upload, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="file" name="upload" />
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Upload, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="file" name="upload" />
            </div>
        </div>
        <br />
        <div class="form-group">
            @Html.LabelFor(m => m.Upload, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="file" name="upload" />
            </div>
        </div>
        <br />
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Wyślij" />
            </div>
        </div>
    </div>
}


@section Scripts {
   @Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript" src="~/Scripts/tinymce/tinymce.js">
</script>

<script type="text/javascript">
    tinymce.init({
        selector: ".tinymce",
        theme: "modern",
        valid_elements: '*[*]',
        width: 500,
        height: 300,
        menubar: false,
        resize: false,
        statusbar: false,

        plugins: ["advlist autolink lists charmap preview hr anchor",
            "pagebreak code nonbreaking table contextmenu directionality paste"],
        toolbar1: "styleselect | bold italic underline | pagebreak code preview | undo redo",
        toolbar2: "alignleft aligncenter alignright alignjustify | bullist numlist outdent indent"
    });
</script>
}


