﻿@using System.Runtime.InteropServices
@model CRM_ImapX.Models.ViewModels.MailPagedListViewModel

<style type="text/css">
    tr.highlight
    {
        background: #000;
        color: #fff;
    }
</style>

<script>
    var x = 1;
    $(document).ready(function () {
        $("#header").click(function () {
            $(this).next(".table").slideToggle("fast", function () { })
            if ((x % 2) != 0) {
                $("#header").text('Pokaż');
                x++;
            }
            else {
                $("#header").html('Ukryj');
                x++;
            }
            return false;
            });
            });
</script>
<script>
    $(document).ready(function () {
        var el = "tr";
        MyOwnFunction(el);
    });

    function MyOwnFunction(el)
    {
        $(el).hover(function () {
            $(this).addClass("highlight")

        }, function () {
            $(this).removeClass("highlight")

        });
    }
</script>


    <h2>Index</h2>


    <h2 id="header">Ukryj</h2>
    <table class="table">
        

        <tr>
            <th>
                Od
            </th>

            <th>
               Data
            </th>

            <th>
               Do
            </th>

            <th>
               Cc
            </th>

            <th>
               Bcc
            </th>

            <th>
               Temat
            </th>


        </tr>

      @foreach (var item in Model.ResultList)
          {
                    var style = (item.isRead == false) ? "font-weight:bold" : "";
                   

    <tr style="@style" onclick="location.href='@Url.Action("Show", "Mail", new { messageGuid = item.MessageGuid})'">

        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bcc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @if (item.haveAttachments == true)
            {
                <img src="@Url.Content("~/Inventory/icon-attachment-32x321.png")" alt="" />
            }
        </td>




    </tr>

                }

      </table>

    <br />
    <p>Ilość rekordów: @Model.TotalRecords</p><br />

        @for (int i = 0; i <= Model.TotalRecords / Model.PageSize; i++)
    {
        <a href="?PageNumber=@i&PageSize=@Model.PageSize">@(i + 1)</a>
    }


<br />


