﻿@model CRM_ImapX.Models.ViewModels.MailReceiveViewModel
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<p>@Html.ActionLink("Odpowiedz", "ReplayTo", "MailSend", new { messageGuid = Model.MessageGuid }, null)</p>
<p>@Html.ActionLink("Przekaż", "ForwardTo", "MailSend", new { messageGuid = Model.MessageGuid }, null)</p>

@Html.AntiForgeryToken()
<h4>Wyślij wiadomość.</h4>
<hr />
@Html.ValidationSummary("", new { @class = "text-danger" })
<div class="form-group">
    @Html.LabelFor(m => m.From, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.From, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Subject, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.To, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextAreaFor(m => m.To, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Cc, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextAreaFor(m => m.Cc, new { @class = "form-control" })
    </div>
</div>









<div class="form-group">

    @Html.LabelFor(m => m.Text, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">

        @Html.Raw(string.IsNullOrEmpty(Model.Text) ? Model.Html : Model.Text)

    </div>

</div>


@foreach (var name in Model.attachmentsNames)
{
    foreach (var file in Model.paths)
    {

        <p>@Html.ActionLink(name, "Download", "Mail", new { path = file, filename = name }, null)</p>
        break;
    }

}

